<ion-view view-title="Dashboard">
  <ion-content class="padding">
<div class="card">
  <div class="item item-text-wrap">
Do you usually share your personal information with organizations that ask for it?</div>
</div>  
<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      never
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
       rarely
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>  

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      sometimes
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      always
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
<button class="button button-positive" style="margin:6px;float:right">
  <a href="question2.html"></a>
</button>

</ion-content>
</ion-view>
